
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Пошук</h2>
<div class="container">
    <div class="row align-items-start">
        <div class="col">
            @(Ajax.BeginForm("Search", new AjaxOptions { UpdateTargetId = "results", LoadingElementId="loading", LoadingElementDuration=500, InsertionMode = InsertionMode.Replace, OnBegin = "OnBegin"}))
            {
            <input type="text" id="searchQuery" />
            <input type="submit" value="Пошук" />
            }
        </div>
        <div class="col">
            @Html.ActionLink("Розширений фільтр", "AdvancedFilter", null, new { @class = "btn btn-dark" })
        </div>
        </div>
        
    <div class="loading" style="display:none;">
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Завантаження...</div>
        </div>
    </div>
    <div id="results">

    </div>
</div>
@Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")


